.root{
    -fx-font: 16px "Arial";
    -fx-background-color: lightgray;
}
.button {
    -fx-text-align: center;
    -fx-color: black;
    -fx-padding: 10px 20px;
    -fx-min-width: 200px;
    -fx-font-weight: bold;
}
#title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.vbox {
}